*{
	margin: 0;
	padding: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	
}
a{
	text-decoration: none;
}

header{
	background: url("img/background.jpg") no-repeat center center scroll;
	text-align: center;
	height: 700px;
	width: 100%;
	color: white;
	background-size: cover;
	position: relative;
}
nav{
	padding-top: 40px;
	font-size: 15px;
	color: #deeef5;
	text-transform: uppercase;
}

header strong{
	color: white;
}

.small{
	padding-top: 30px;
	color: #aac7d9;
}
header p{
	color: #deeef5;
    letter-spacing: 1px;
    font-size: 20px;
    padding-top: 20px;
}
h1{
	padding-top: 190px;
	font-size: 60px;
	text-transform: uppercase;
}


 h1::after {
    content: ' ';
    display: block;
    width: 50px;
    margin: 10px auto -10px auto;
    border: 2px solid #fff;
}
.about{
	height: 450px;
	color: #58798c;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 28px;
}
.content{
	float: right;
	width: 65%;
	padding: 90px 120px 0 0;
	
}
.content h2{
	font-size: 22px;
	text-transform: uppercase;
}
.title{
	float:left;
	padding: 90px 70px 0 100px;
	font-size: 18px;
	text-transform: uppercase;
}
.bluetitle{
	color: #3295be;
}
.whitetitle{
	color: white;
}
.bluetitle h2::after {
    content: ' ';
    display: block;
    width: 50px;
    margin: 10px 0;
    border:2px solid;
}
.whitetitle h2::after {
    content: ' ';
    display: block;
    width: 50px;
    margin: 10px 0;
    border:2px solid;
}
.experience{
	background-color: #3295be;	
	height: 850px;
}
.box{
	border:1px solid #89bbd3;
	color: white;
	padding: 20px 10px 20px 20px;
	border-radius: 10px;
	margin-bottom: 20px;
	text-transform: none;
}
.box h3{
	color:#95c5db;
	font-weight: lighter;
}
.box em{
	color:#aac7d9;
}
.box h2, .box img {
    display: inline;
    text-transform: none;
}
.skillset{
	height: 400px;
}
progress {
  border: 0;
  height: 10px;
  width: 85%;
}
progress::-webkit-progress-bar { background: #deeef5; }
progress::-webkit-progress-value { background: #3295be; }

.progressBar{
	color: #2473a0; 
	padding-bottom: 30px;
	text-transform: uppercase;
	font-size: 13px;
}
.left{
	float: left;
	width: 50%;
}
.right{
	float: right;
	width: 50%;
}
.education{
	height: 300px;
	background-color: #3295be;
	letter-spacing: 1px;
}
.education h2{
	color: white;
}
em{
	color: #aac7d9;
	padding-bottom: 16px;

}
.education p{
	    color: #deeef5;
	    font-size:18px; 

}
.contact{
	height: 300px;
	color: #58798c;
}
footer{
	color: #aaa;
	border-top: 2px solid #eee;
	padding: 20px 0 20px 50px;
	font-size: 16px;
}
#Ukr{
	font-size: 15px;
}